src/main/mule/jaxb7-test.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="aa0d6bb8-77a7-4960-80cd-39d6c08981b1">
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="jaxb7-testFlow" doc:id="8636b9fa-af20-4c61-a1c0-bc266c7ded10" >
		<http:listener doc:name="Listener" doc:id="136b024a-08e6-483c-93d7-46d8abd2de3b" config-ref="HTTP_Listener_config" path="/jaxb7-test">
			<http:response >
				<http:body ><![CDATA[#["hello"]]]></http:body>
			</http:response>
		</http:listener>
		<set-payload value='#["hello world"]' doc:name="Set Payload" doc:id="468754d6-3c72-406a-903e-d324806df152" />
	</flow>
</mule>
